<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <canvas id="canvas"></canvas>
  </body>
  <script type="text/javascript">
  	var canvas = document.getElementById('canvas')
  	var image = new Image();
  	image.src = "<%- imgs %>"; 
    image.onload = function() {
    	console.log(this.width + ' , ' + this.height);
     	canvas.width = this.width;
    	canvas.height = this.height;
    	canvas.getContext("2d").drawImage(image, 0, 0);
    };
  
  
  </script>
  
</html>