body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto;
}

a {
  color: #00B7FF;
}


.canvss{
	border-width: 1px;
	border-color: black;
	border-style: solid;
}